body { /* Background color */
  background-color: rgb(109, 213, 234);
  margin: 20px;
}

h1 { /* Title placement */
  text-align: left; 
}

img.vloot1 { /* First vloot1 image */
  float: left;
  width: 500px;
  height: 308px;
}

p { /* First paragraph text */
  text-align: right, inherit;
  width: 1100px;
  padding: 0px;
}

img.vloot2 { /* Second vloot2 image */
  float: right;
  width: 500px;
  height: 308px;
}

p.text2 { /* Second paragraph text */
  text-align: left;
  width: 300px;
  padding: 0px;
  margin: 0px;
}

img.vloot3 { /* Third vloot3 image */
  float: left;
  width: 500px;
  height: 308px;
}

p.text3 { /* Third paragraph text */
  text-align: right;
  width: 300px;
  padding: 0px;
  margin: 0px;
}